.area_list#single {
    background-color: inherit;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
}

.area_list#single ul li {
    margin: 0;
	width: 100%;
	height: auto;
    background-color: #262626;
}

.area_list#single .area_list_title {
    background-color: #282828;
}

.area_list#single ul li:hover {
    transform: scale(1.0);
}
