.area_list#text {
    background-color: inherit;
    padding: 0;
    margin-left: 10%;
    margin-right: 10%;
    text-align: center;
}

.area_list#text ul {
    display: table;
    margin: 0 auto;
}

.area_list#text ul li {
    padding: 20px;
    display: block;
    height: auto;
    width: calc(50% - (20px * 2) - 10px);
    transition: transform 0.33s;
    background-color: #292929;
    float: left;
    overflow: hidden;
}

.area_list#text ul li:hover {
    transform: scale(1.02);
}
