.areas {
    background-color: #212121;
    width: 100%;
    height: auto;
    float: left;
}

.area, .area25, .area33, .area50 {
    background-color: #212121;
    padding-bottom: 50px;
    padding-top: 50px;
    width: 100%;
    text-align: center;
	overflow: hidden;
}

.area25 {
    width: 25%;
    float: left;
}

.area33 {
    width: 34%;
    float: left;
}

.area50 {
    width: 50%;
    float: left;
}

.areas#darker, .area#darker, .area25#darker, .area33#darker, .area50#darker {
    background-color: #191919;
}

.area#scroll, .area25#scroll, .area33#scroll, .area50#scroll {
    overflow: auto;
}

.area_title a, .area_sub_title a, .area_text a, .area_question a, .area_answer a, .area_list ul li a {
    color: #ff5252;
}

.area_logo {
    padding-bottom: 25px;
}

.area_logo img {
	width: 150px;
	height: 150px;
	border-radius: 25%;
	transition: transform .33s;
	background: transparent;
}

.area_logo#circular img {
    border-radius: 50%;
}

.area_logo div {
	transition: transform .33s;
}

.area_logo div:hover, .area_logo img:hover {
	transform: scale(1.15);
}

.area_title {
    font-size: 40px;
    width: calc(100% - 50px - 50px);
    color: #bdbdbd;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.area_sub_title {
    font-size: 28px;
    width: calc(100% - 50px - 50px);
    color: #bdbdbd;
    margin-left: 50px;
    margin-right: 50px;
    padding-bottom: 10px;
}

.area_text {
    font-size: 16px;
    width: calc(100% - 50px - 50px);
    color: #757575;
    margin-left: 50px;
    margin-right: 50px;
}
