.area_question {
    font-size: 30px;
    padding-top: 25px;
    color: #616161;
}

.area_answer {
    font-size: 16px;
    width: 50%;
    margin-left: 25%;
	margin-right: 25%;
    color: darkgray;
}

.area_status {
    font-size: 22px;
    width: 50%;
    margin-left: 25%;
	margin-right: 25%;
    color: darkgray;
	margin-bottom: 4px;
}

.area_status b {
	color: #616161;
}

.area_status .on {
	color: #4caf50;
	display: inline-block;
}

.area_status .off {
	color: #f44336;
	display: inline-block;
}
