.img_button {
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 10px;
    color: rgba(0, 0, 0, 0);
    font-size: 18px;
    transition: transform .33s;
    background-color: #90a4ae;
    -box-shadow: 1px 1px 8px #999;
    border: none;
	background-size: cover;
    background-repeat: no-repeat;
	white-space: nowrap;
}

.img_button:hover {
    transform: scale(1.05);
}

.button {
    display: inline-block;
    border-radius: 5px;
    text-decoration: none;
    text-align: center;
    padding: 20px;
    color: white;
    font-size: 18px;
    transition: background-color .33s;
    background-color: #525252;
    -box-shadow: 1px 1px 8px #999;
    border: none;
	white-space: nowrap;
}

.button:hover {
    background-color: #424242;
}

.button#green {
    background-color: #4caf50;
}

.button#green:hover {
    background-color: #388e3c;
}

.button#blue {
    background-color: #2196f3;
}

.button#blue:hover {
    background-color: #1976d2;
}

.button#red {
    background-color: #f44336;
}

.button#red:hover {
    background-color: #d32f2f;
}
