.footer {
    color: #616161;
    font-size: 18px;
}

.footer_left {
    text-align: left;
    display: inline-block;
    width: calc(50% - 20px - 5px);
    padding-left: 20px;
}

.footer_right {
    text-align: right;
    display: inline-block;
    padding-right: 20px;
    width: calc(50% - 20px - 5px);
}

.footer_center {
    text-align: center;
}

.footer_top {
    padding-top: 20px;
    background-color: #161616;
    border-top: 3px solid #263238;
}

.footer_top#opposite {
    padding-bottom: 20px;
    border-bottom: 3px solid #263238;
    border-top: none;
}

.footer_bottom {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #161616;
}

.footer .selection {
    display: inline-block;
    text-decoration: none;
    color: white;
}

.footer_center .selection {
    padding-left: 10px;
    padding-right: 10px;
}

.footer_left .selection {
    padding-left: 0;
    padding-right: 20px;
}

.footer_right .selection {
    padding-left: 20px;
    padding-right: 0;
}

.footer .selection#hover {
    transition: font-weight .1s;
}

.footer .selection#hover:hover {
    padding-top: 0;
    padding-bottom: 0;
    font-weight: bold;
}
