.intro {
    width: 100%;
    height: 200px;
    overflow: auto;
    background-color: inherit;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-image: url("/.images/intro.png");
    text-align: center;
}

.intro_image {
    margin-top: calc((200px - 150px) / 2);
}

.intro_image img {
    width: 150px;
    height: 150px;
    border-radius: 25%;
    transition: transform .33s;
    background: transparent;
    opacity: 0.95;
}

.intro_image img:hover {
    transform: scale(1.15);
}
