.message {
    margin-top: 10px;
    width: auto;
    padding: 20px;
    font-size: 18px;
    color: #eee;
    background-color: #455a64;
    text-align: center;
    position: fixed;
    z-index: 1;
	overflow: auto;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    border-left: 7px solid #263238;
    opacity: 0.85;
}

.message a {
    color: #ff5252;
}
