.navigation {
	margin: 0;
}

.navigation img {
	width: 150px;
	height: 150px;
	border-radius: 25%;
	border: 2px solid #e0e0e0;
}

.navigation div {
	padding-top: 100px;
	padding-bottom: 100px;
	padding-left: 20px;
	padding-right: 20px;
	color: #757575;

	background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 40%;
    background-image: url(".images/intro.png");
}

.navigation .button {
	padding: 18px;
	border-radius: 50px;
	box-shadow: 0 2px 0 #ffc107;
	opacity: 0.925;
	margin-left: 200px;
	margin-right: 200px;
}

.navigation div#image {
	padding-top: 40px;
	padding-bottom: 40px;
}

.navigation ul {
	list-style-type: none;
	text-align: center;
	background-color: #424242;
	-border-bottom: 4px solid #eeeeee;
}

.navigation ol {
	list-style-type: none;
	text-align: center;
	background-color: #212121;
	color: #616161;
}

.navigation ul li {
	display: inline-block;
	padding-top: 14px;
	padding-bottom: 10px;
	padding-left: 50px;
	padding-right: 50px;
	text-align: center;
	color: #757575;
	font-size: 18px;
}

.navigation ol li {
	display: inline-block;
	padding-top: 6px;
	padding-bottom: 6px;
	padding-left: 20px;
	padding-right: 20px;
	text-align: center;
	font-size: 16px;
}

.navigation ul li input {
    padding: 10px;
    font-size: 12px;
    margin: 0;
    display: inline-block;
    border-radius: 5px;
	background-color: #313131;
}

.navigation li#right {
	float: right;
}

.navigation li#left {
	float: left;
}

.navigation ul li a {
	text-decoration: none;
	color: #bdbdbd;
}

.navigation ul li:hover, .navigation ul li a:hover {
	color: #757575;
}
